<div class="row">
    <div class="col-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="mb-0 text-white">Configuração da Portaria - Edição/Inclusão</h4>
              </div>
            <div class="card-body">
                <div class="row p-t-20">

                    <div class="col-md-3">
                        <label>Número</label>
                        <div class=" form-group" >
                            <input class="form-control" class="produtoCat" >
                        </div>
                    </div> 

                    <div class="col-md-5">
                        <label>Finalidade</label>
                        <div class=" form-group" >
                            <input class="form-control" class="produtoCat" >
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-2 form-group">
                        <label>Data Publicação</label>
                        <div>
                          <p-calendar [(ngModel)]="date1" dateFormat="dd/mm/yy" placeholder="dd/mm/aaaa" [showIcon]="true"
                            [locale]="pt" appendTo="body" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                            [readonlyInput]="true">
                          </p-calendar>
                        </div>
                      </div>

                      <div class="col-xs-12 col-sm-6 col-md-2 form-group">
                        <label>Data Vencimento</label>
                        <div>
                          <p-calendar [(ngModel)]="date1" dateFormat="dd/mm/yy" placeholder="dd/mm/aaaa" [showIcon]="true"
                            [locale]="pt" appendTo="body" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                            [readonlyInput]="true">
                          </p-calendar>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label>Anexo (*.pdf)</label>
                        <div class="form-group">
                             <input type="file" name="file" accept=".pdf"/>  
                      </div>

                      <label>Observação</label>
                      <textarea [rows]="5" [cols]="97" pInputTextarea autoResize="autoResize"></textarea>



                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-success" style="float:right"> <i class="fas fa-save"></i> Salvar </button>
                <button type="button" (click)="voltar()" class="btn btn-default" style="float:right">
                    <i class="fas fa-arrow-left"></i> Voltar</button>
            </div>
        </div>
    </div>
</div>
