<div class="row">
    <div class="col-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="mb-0 text-white">Detalhamento do Produto do Catálogo</h4>
              </div>
            <div class="card-body">
                <div class="row p-t-20">

                    <div class="col-md-4">
                        <label>Segmento</label>
                        <div class=" form-group" >
                            <input class="form-control" class="produtoCat">
                        </div>
                    </div> 

                    <div class="col-md-3">
                        <label>Código Produto</label>
                        <div class=" form-group" >
                            <input class="form-control" class="produtoCat">
                        </div>
                    </div> 

                    <div class="col-md-5">
                        <label>Descrição do Produto</label>
                        <div class=" form-group" >
                            <input class="form-control" class="produtoCat">
                        </div>
                    </div> 

                    <div class="col-md-3">
                        <label>NCM</label>
                        <div class=" form-group" >
                            <input class="form-control" class="produtoCat">
                        </div>
                    </div> 
                    
                    <div class="col-md-3">
                        <label>GTIN</label>
                        <div class=" form-group" >
                            <input class="form-control" class="produtoCat">
                        </div>
                    </div> 

                    <div class="col-md-3">
                        <label>Unidade</label>
                        <div class=" form-group" >
                            <input class="form-control" class="produtoCat">
                        </div>
                    </div> 

                    <div class="col-md-3">
                        <label>Valor Unitátio</label>
                        <div class=" form-group" >
                            <input class="form-control" class="produtoCat">
                        </div>
                    </div> 

                      
                </div>
            </div>

            <div class="card-body">
              <div class="text-right">
                  <button type="button" (click)="voltar()" class="btn btn-default" style="float:right">
                      <i class="fas fa-arrow-left"></i>Voltar</button>
              </div>
           </div>
        </div>
    </div>
</div>
