<div class="row">
  <div class="col-12">
    <div class="card card-outline-info">
      <div class="card-header">
          <h4 class="mb-0 text-white"> Classificação Manual - Cadastrar </h4>
        </div>
      <div class="card-body">
        <div class="row p-t-20">
          <div class="row align-items-end col-md-12" style="margin-bottom: 30px; padding-right: 0;">
            <div class="col-md-3">
              <label>Número NF-e:</label>
              <ng-select class="custom" notFoundText="Nenhum grupo encontrado">
              </ng-select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 form-group" style="margin: 0;">
              <label>Data NF-e:</label>
              <input value="12/12/2012" class="form-control formStyles formRadius" readonly>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 form-group" style="margin: 0;">
              <label>CNPJ Emitente:</label>
              <input value="645.584.469/0001-09" class="form-control formStyles formRadius" readonly>
            </div>
          </div>
        </div>
        <div class="card-body" style="padding: 0;">
          <h4 class="card-title overlay-text"
            style="margin: 0; color: #3E5569; background-color: white; margin-left: 20px;">Classificação por Item</h4>
          <div class="card-body contorno overlay" style="margin-bottom: 30px; padding-bottom: 0;">
            <div class="row align-items-end justify-content-end" style="padding-top: 10px;">
              <div class="col-md-12">
                <label>Produtos NF-e:</label>
                <ng-select class="custom" notFoundText="Nenhum grupo encontrado">
                </ng-select>
              </div>
              <div class="col-md-12 space-between">
                <label>Segmento:</label>
                <ng-select class="custom" notFoundText="Nenhum grupo encontrado">
                </ng-select>
              </div>
              <div class="col-md-10 space-between">
                <label>Produto do Catálogo:</label>
                <ng-select class="custom" notFoundText="Nenhum grupo encontrado">
                </ng-select>
              </div>
              <div class="col-sm-6 col-md-2" style="margin-top: 10px;">
                <button type="button" class="btn btn-success formRadius form-control" style="margin: 0;">
                  Adicionar
                </button>
              </div>
            </div>
            <div class="row" style="margin-top: 20px;">
              <div class="col-12">
                <div class="card" style="margin: 0;">
                  <div class="card-body" style="padding: 0.25rem;">
                    <app-data-table-classificador [hasRadio]="'0'" [rowTable]="5" [colunas]="colunas" [activeIcons]="[{
                          name: 'Excluir',
                          className: 'ti-trash text-danger m-r-10',
                          howFunction: '1'
                        }]">
                    </app-data-table-classificador>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button type="button" (click)="voltar()" class="btn" style="float:right;">Voltar</button>
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-info" style="float:right;">Salvar</button>
        </div>
      </div>
    </div>
  </div>
