<div class="row">
  <div class="col-12">
    <div class="card card-outline-info">
      <div class="card-header">
          <h4 class="mb-0 text-white"> Acompanhamento da Classificação Automática - Visualizar</h4>
        </div>
      <div class="card-body">

        <div class="card-body" style="padding: 0;">
          <h4 class="card-title overlay-text"
            style="margin: 0; color: #3E5569; background-color: white; margin-left: 20px;">Dados da Nota</h4>
          <div class="card-body contorno overlay" style="margin-bottom: 30px;">

            <div class="row align-items-end col-md-12" style="margin-bottom: 30px; padding-right: 0;">
              <div class="col-xs-12 col-sm-12 col-md-5 form-group">
                <label>Emitente:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.emitente">
              </div>
              <div class="col-md-1"></div>
              <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <label>CNPJ Emitente:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.cnpjEmitente">
              </div>
              <div class="col-md-1"></div>
              <div class="col-xs-12 col-sm-12 col-md-2 form-group">
                <label>UF Emitente:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.ufEmitente">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-5 form-group">
                <label>Destinatário:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.destinatario">
              </div>
              <div class="col-md-1"></div>
              <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <label>CPF/CPF/CNPJ Destinatário:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.cnpjCpfDestinatario">
              </div>
              <div class="col-md-1"></div>
              <div class="col-xs-12 col-sm-12 col-md-2 form-group">
                <label>UF Destinatário:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.ufDestinatario">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 form-group">
                <label>N° da Nota:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.numeroNota">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <label>Data Nota:</label>
                <div>
                  <input class="form-control formStyles" readonly [value]="acompClassAuto?.dataNota | date: 'dd/MM/yyyy'">
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <label>Chave da Nota:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.chaveNota">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-5 form-group">
                <label>Natureza da Operação:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.naturezaOperacao">
              </div>
            </div>

          </div>
        </div>

        <div class="card-body" style="padding: 0;">
          <h4 class="card-title overlay-text"
            style="margin: 0; color: #3E5569; background-color: white; margin-left: 20px;">Item da Nota</h4>
          <div class="card-body contorno overlay" style="margin-bottom: 30px;">

            <div class="row align-items-end col-md-12" style="margin-bottom: 30px; padding-right: 0;">
              <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <label>Item da Nota:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.itemNota.itemNota">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-9 form-group">
                <label>CFOP:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.itemNota.cfop">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <label>Item Associado Catálogo:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.itemNota.itemAssociadoCatalogo">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                <label>Segmento:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.itemNota.segmento">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 form-group" *ngFor="let col of acompClassAuto?.itemNota.colunasProduto">
                <label>{{col.colunaProdutoNome}}:</label>
                <input class="form-control formStyles" readonly [value]="col.colunaProdutoValor">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <label>Data Classificação:</label>
                <div>
                  <input class="form-control formStyles" readonly [value]="acompClassAuto?.itemNota.dataClassificacao | date: 'dd/MM/yyyy'">
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                <label>Modelo de Classificação:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.itemNota.modeloClassificacao">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 form-group">
                <label>% Confiança Preditiva:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.confiancaPreditiva | number">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                <label>% Fator Mínimo de Aceitação:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.itemNota.fatorMinimoAceitacao | number">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-7 form-group">
                <label>Algoritmo:</label>
                <input class="form-control formStyles" readonly [value]="acompClassAuto?.itemNota.algoritmo">
              </div>
            </div>

          </div>
        </div>

        <div class="text-right">
          <button type="button" (click)="voltar()" class="m-t-20 btn waves-effect waves-light btn-info" ><i class="fas fa-arrow-left"></i> Voltar</button>
        </div>

      </div>
    </div>
  </div>
