.formStyles{
  border-color: #ccc;
}

::ng-deep .ui-calendar{
  width: 100%;
}

::ng-deep .ui-inputtext{
  width: calc(100% - 30px);
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f5467;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

::ng-deep .ui-calendar .ui-calendar-button{
  border: none;
  width: 30px !important;
  height: calc(1.5em + 0.75rem + 2px);
  width: auto;
  background-color: #01ACD3;
}

::ng-deep .ui-button-icon-left{
  color: #fff;
}

::ng-deep .ui-datepicker{
  background-color: white;
}

::ng-deep .ui-datepicker a:hover{
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.form-group{
  margin-bottom: 10px;
}
