.input{
  border: 1px solid #ccc;
  height: calc(1.5em + 0.75rem + 2px);
  min-height: 36px;
}

::-webkit-input-placeholder {
  color: #A5A5A5;
  font-weight: lighter;
}

:-moz-placeholder { /* Firefox 18- */
  color: #A5A5A5;
  font-weight: lighter;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #A5A5A5;
  font-weight: lighter;
}

:-ms-input-placeholder {
  color: #A5A5A5;
  font-weight: lighter;
}

.radio{
  margin-right: 10px;
}

.custom{
  margin-bottom: 5px;
}

:host >>> .ng-select-container{
  border-radius: 0px;
  border-color: #CCCCCC;
  height: calc(1.5em + 0.75rem + 2px);
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

:host >>> .ui-radiobutton{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 20px;
  height: 20px;
}

:host >>> .ícone-radiobutton-ui{
  border-color: #007ad9;
  background-color: #007ad9;
  color: #ffffff;
}

:host >>> .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  background-color: #017ABD;
  color: transparent;
}

:host >>> .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon{
  background-color: #fff;
}

:host >>> .ui-radiobutton .ui-radiobutton-box{
  border: 1px solid #a6a6a6;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  border-radius: 50%;
}

:host >>> .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon{
  background: transparent;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
  transition: background-color 0.2s;
  border-radius: 50%;
}

:host >>> .ui-radiobutton-label{
  margin: 0 0 0 0.5em;
}

tr{
  justify-items: center;
}

.selected-row{
  background-color: #95BCF2 !important;
}

.arrow-white{
  color: white;
  margin: 0;
}

.arrow-black{
  color: black;
  margin: 0;
}

.unselected{
  background-color: white;
}

.expTable th{
  background-color: #F2F2F2;
}

.expTable tr{
  background-color: #FFFFFF;
}

.expTable ::ng-deep.ui-paginator-bottom {
  background-color: #FFFFFF;
}

.chk ::ng-deep.ui-chkbox-box{
  border: 1px solid #000;
  border-radius: 0px;
}

:host >>> .ui-radiobutton{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 20px;
  height: 20px;
}

:host >>> .ícone-radiobutton-ui{
  border-color: #007ad9;
  background-color: #007ad9;
  color: #ffffff;
}

:host >>> .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  background-color: #017ABD;
  color: transparent;
}

:host >>> .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon{
  background-color: #fff;
}

:host >>> .ui-radiobutton .ui-radiobutton-box{
  border: 1px solid #a6a6a6;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  border-radius: 50%;
}

:host >>> .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon{
  background: transparent;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
  transition: background-color 0.2s;
  border-radius: 50%;
}

:host >>> .ui-radiobutton-label{
  margin: 0 0 0 0.5em;
}
