<div class="col-12" style="padding: 0; margin-top: 5px;">
  <p-table #dt [value]="regraDetalhe" [paginator]="false" [scrollable]="true"
scrollHeight="150px" [autoLayout]="true" styleClass="table table-striped">
  <ng-template pTemplate="header" let-columns let-obj>
    <tr>
      <th *ngFor="let col of colunas">
        {{col.cabecalho}}
      </th>

      <th>
        Ações
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowIndex="rowIndex" let-obj let-columns="colunas">
    <tr>
      <td *ngFor="let col of colunas">
        <p>
          {{(col.date ? (namespace(obj, col.campo, col.padrao) | date: 'dd/MM/yyyy') : namespace(obj, col.campo, col.padrao))}}
        </p>
      </td>
      <td>
        <a href="javascript: " ngbTooltip="Editar" placement="left"
          (click)="editarDetalhe(obj)"><i class="ti-pencil text-info btn-rounded btn-sm"></i></a>
        <a href="javascript: " ngbTooltip="Excluir" placement="left"
          (click)="removerDetalhe(obj, rowIndex)"><i class="ti-trash text-danger btn-rounded btn-sm"></i></a>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="colunas.length+2" style="text-align: center;">
        Nenhum detalhe de regra associado a este produto
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
<div class="col-md-12" style="padding: 0">
  <div class="row" style="margin: 0">
    <p-radioButton class="radio" value="AND" label="AND" [(ngModel)]="operadorLogico"></p-radioButton>
    <p-radioButton class="radio" value="OR" label="OR" [(ngModel)]="operadorLogico"></p-radioButton>
  </div>
  <div class="row col-md-12" style="padding: 0; margin: 0;">
    <div class="col-1" style="padding: 0; margin: 0;">
      <div style="height: 53%; width: 55%; float: right; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-left: 5px; margin-bottom: 30px; margin-top: 5px; margin-right: 5px;"></div>
    </div>
    <div class="col-11 row" style="border: 2px solid #ccc; padding: 10px 20px; margin: 0; margin-top: 15px;">
      <div class="col-12 row" style="margin: 0; padding: 0; margin-top: 5px;">
        <div class="col-sm-9 col-md-4 form-group" style="margin-bottom: 0;">
          <ng-select [clearable]="false" placeholder="Atributos" [(ngModel)]="atributoSelecionado" (change)="handleChangeAtribute()" [items]="atributos$ | async" bindLabel="atributoNome" class="custom" notFoundText="Nenhum atributo encontrado">
          </ng-select>
        </div>
        <div class="col-sm-3 col-md-3 form-group" style="margin-bottom: 0;">
          <ng-select [clearable]="false" placeholder="Operadores" (change)="onChangeOperador($event)" [(ngModel)]="orSelecionado" [items]="operadores" class="custom" notFoundText="Nenhum operador encontrado">
          </ng-select>
        </div>
        <div class="col-sm-12 col-md-5 form-group" style="margin-bottom: 0; margin-bottom: 5px;">
          <input disabled="{{atributoSelecionado && orSelecionado ? 'false' : 'true'}}" [(ngModel)]="condicaoSelecionada" type="{{(atributoSelecionado?.atributoTipo.substr(0, atributoSelecionado?.atributoTipo?.indexOf('(')) === 'NUMBER') ? 'number' : 'text'}}" [ngStyle]="{'display': (orSelecionado === 'is null' || orSelecionado === 'is not null') ? 'none' : 'block'}" placeholder="Condição" class="input form-control" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 d-flex align-items-center justify-content-end" style="padding: 0; height: 36px; margin: 5px 0;">
  <button type="button" (click)="addRegra()" class="btn btn-info formRadius form-control col-3"
    style="margin: 0; min-height: 36px !important; float: right; padding: 0;">
    {{btnAdd}}
  </button>
</div>
