<div class="row">
  <div class="col-lg-12">
      <div class="card card-outline-info">
          <div class="card-header">
            <h4 class="mb-0 text-white">Funções de Mineração</h4>
          </div>
          <div class="card-body">
          <app-data-table [labelCriar]="'Criar Função de Mineração'"
          [colunas]="colunas"
          (deletar)="deletar($event)"
          [rotaForm]="'/minerador/funcao-mineracao/form'"
          [dados]="(funcoesMineracao$ | async)"></app-data-table>
          </div>
      </div>
  </div>
</div>
